html {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    border: solid 1px black;
    width: 100%;
    display: flex;
}
#controls {
    border: solid 1px black;
    width: calc(100%/2);
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
#controls > h2 {
    align-self: flex-start;
}
#canvas {
    border: solid 1px black;
    width: calc(100%/2);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
#canvas > h2 {
    align-self: flex-start;
}
button {
    width: 100%;
    text-align: center;
    margin: 2.5px;
    background-color:rgb(236, 236, 236);
    font-weight: bold;
}
.colorContainer{
    border: solid 1px black;
    display: flex;
    align-self: flex-start;
}
.color-box{
    width:10px;
    height: 10px;
    border: solid 1px black;
}
#red{
    
    background-color: red;
     
}
#blue{
    
    
    background-color: blue;
   
}
#green{
   
    background-color: green;
   
}
#yellow{
   
    background-color: yellow;
   
}
#cyan{
   
    background-color: cyan;
   
}
/* [id*="row"]*/ #grid > div{
    display: flex;
    height: 100%;
}

.cells{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#grid{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 1px solid green;
    align-items: stretch;
}